<p><i class="fa fa-mobile fa-lg fa-fw"></i> <strong>098-835-1907</strong></p>
<p><i class="fa fa-linkedin fa-lg fa-fw"></i> <a href="https://www.linkedin.com/in/vitaliy-godzevich-82b88587/" target="_blank">linkedin.com/in/vitaliy-godzevich-82b88587/</a></p>
<p><i class="fa fa-envelope-o fa-lg fa-fw"></i> <a href="mailto:xtfkpi@gmail.com" target="_blank">xtfkpi@gmail.com</a></p>
<p><i class="fa fa-skype fa-lg fa-fw"></i> <a href="skype:xtfkpi?call" target="_blank">xtfkpi</a></p>
<p><i class="fa fa-github fa-lg fa-fw"></i> <a href="https://bitbucket.org/vetsinen/" target="_blank">@vetsinen</a></p>